.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 340px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
}

.search {
  display: flex;
  gap: 8px;

  input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #cec7c7;
  }

  select {
    padding: 8px;
  }
}

.results {
  position: absolute;
  top: 56px;
  width: 89%;
  background: #ffffff;
  border: 1px solid #cec7c7;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.result-item {
  padding: 8px;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }
}

.loading {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  color: rgb(124, 124, 124);
  ;
}

.weather {
  margin-top: 24px;
  text-align: center;
}

.weather h2 {
  margin-bottom: 50px;
}

.temp {
  font-size: 64px;
  font-weight: 600;
  margin: 71px 0;
}

.icon {
  font-size: 48px;
  margin-bottom: 16px;
}

.rain {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-top: 12px;
  border-top: 1px solid;
}

.rain div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.rain strong {
  font-size: 18px;
  font-weight: 600;
}

.rain span {
  font-size: 12px;
  color: rgb(124, 124, 124);
  ;
}

.error {
  margin-top: 16px;
  padding: 12px;
  border-radius: 6px;
  background: #fdecea;
  color: rgb(109, 23, 23);
  font-size: 14px;
  text-align: center;
}

.date {
  font-size: 14px;
  color: rgb(124, 124, 124);
  margin-bottom: 12px;
  text-transform: capitalize;
}